body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #FEF8EC;
}

header {
    background-color: #131C2F;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome__projeto {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nome__projeto div img {
    height: 40px;
    margin-right: 10px;
}

.nome__projeto div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nome__projeto div h1 {
    color: #FEF8EC;
    margin: 0;
}

.nome__projeto div aside {
    color: #F47C2A;
}

.redes__sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background: rgb(255, 196, 0); */
    margin-right: 20px;
}

.redes__sociais div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    vertical-align: middle;
    background-color: #ffffff28;
    border-radius: 50%;
}

.redes__sociais div img {
    width: 27px;
    height: 27px;
}

.navegacao {
    background-color: #FEEFCF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    height: 40px;
}

.navegacao dl {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px;
    gap: 9rem;
}

.navegacao dl dt a {
    color: #131C2F;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.navegacao dl dt a:focus {
    color: #F47C2A;
}