.pag_cadastro-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pag_cadastro-container > *:not(:last-child) {
    flex: 1;
}

.pag_cadastro-container > :last-child {
    margin-top: auto;
}