.cadastro-estagiario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: skillFontNormal;
    font-weight: 50;
    flex-direction: column;
    gap: 1em;

}

.cadastro-estagiario h1 {
    font-size: 2rem;
    color: rgb(0, 0, 61);
}

.cadastro-estagiario fieldset {
    /* width: 300px;
    height: 500px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.cadastro-estagiario fieldset legend {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #131C2F;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    gap: 6px;
    color: white;
    font-weight: 50;
}

.cadastro-estagiario fieldset legend img {
    width: 30px;
    height: 30px;
}

.cadastro-estagiario fieldset input {
    width: 300px;
    height: 22px;
    border-radius: 5px;
    border: 2px solid #131C2F;
}

.cadastro-estagiario fieldset select {
    width: 310px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #131C2F;

}

.cadastro-estagiario button {
    background: #EAD1B9;
    width: 17rem;
    height: 30px;
    font-family: skillFontItalico;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.cadastro-estagiario button:hover {
        background: #5D82AD;
}