.main-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: skillFontNormal;
}

.escolha-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
    gap: 9rem;
}

.escolha-cadastro .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.escolha-cadastro .titulo h1 {
    /* color: ; */
    font-size: 40px;
    margin: 0;
}

.escolha-cadastro .titulo p {
    color: gray;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.card-escolha {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
   
}

.card-escolha:hover {
    background: linear-gradient(135deg, #ffac3f71 0%, #ffe18d6b 100%);
    box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    transform: scale(1.02);
}

.card-escolha div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.card-escolha div img {
    width: 30px;
    height: 30px;
}

.card-escolha h2 {
    font-size: 30px;
    font-weight: 50;
    margin: 0;
}

.card-escolha aside {
    color: gray;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

.card-escolha button {
    /* background: #131C2F; */
    background: #030022;
    color: white;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.card-escolha button:hover {
    transform: scale(1.02);

}